<mat-card>
  <mat-card-header>
    <mat-card-title>Dados do Leilão</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">

      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nome" />
      </mat-form-field>

      <mat-form-field class="full-width">
  <mat-label>Meeting date</mat-label>
  <input matInput [matDatepicker]="datepicker" formControlName="dataHorarioLeilao">
  <mat-datepicker #datepicker/>
  <mat-datepicker-toggle [for]="datepicker" matSuffix/>
</mat-form-field>

    <mat-form-field>
      <mat-label>Meeting time</mat-label>
      <input matInput
        [matTimepicker]="timepicker"
        formControlName="dataHorarioLeilao">
      <mat-timepicker #timepicker/>
      <mat-timepicker-toggle [for]="timepicker" matSuffix/>
    </mat-form-field>

      <mat-form-field class="full-width" >
        <mat-select formControlName="categoria" placeholder="categoria">
          <mat-option value="IMOVEL">IMOVEL</mat-option>
          <mat-option value="VEICULO">VEICULO</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="descricao" formControlName="descricao" />
      </mat-form-field>

      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Endereço</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Grupo aninhado -->
          <div formGroupName="enderecoLeilaoDTO">
            <mat-form-field class="form-card">
              <input matInput placeholder="rua" formControlName="rua" />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="numero" formControlName="numero" />
            </mat-form-field>

            <div formGroupName="cep">
              <mat-form-field class="form-card2">
                <input matInput placeholder="cep" formControlName="cep" />
              </mat-form-field>
            </div>

            <div formGroupName="bairro">
              <mat-form-field class="form-card2">
                <input
                  matInput
                  placeholder="Nome Bairro"
                  formControlName="nomeBairro"
                />
              </mat-form-field>
            </div>

            <div formGroupName="cidade">
              <mat-form-field class="form-card2">
                <input
                  matInput
                  placeholder="Cidade Nome"
                  formControlName="nome"
                />
              </mat-form-field>
            </div>

            <div formGroupName="estado">
              <mat-form-field class="form-card">
                <input
                  matInput
                  placeholder="Estado Nome"
                  formControlName="nome"
                />
              </mat-form-field>

              <mat-form-field >
                <input
                  matInput
                  placeholder="Estado Sigla"
                  formControlName="sigla"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>

  </mat-card-content>
    <mat-card-actions>
      <button matButton="elevated" color="primary" (click)="onSubmit()">Salvar</button>
      <button matButton="elevated" color=""  (click)="onCancel()">Cancelar</button>
    </mat-card-actions>

</mat-card>
